<div class="hero-unit">
  <h2>Bloccit</h2>
  <p>Bloccit is a resource for sharing links with your friends</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Barack Obama</h2>
    <p>This site is the embodyment of hope and change.</p>
  </div>
  <div class="span4">
    <h2>My Mom</h2>
    <p>Said she likes the site.</p>
  </div>
  <div class="span4">
    <h2>Another Guy</h2>
    <p>This site is exactly what I was looking for.</p>
  </div>
</div>